body {
    background-color: #D84FCE;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 75px;
    font-family: 'Courier New', Courier, monospace;
}


#titleApp{
    color: black;
}

#formData{
    text-align: center;
    color: black;
    height: 75;
    padding: 150px 10px 150px 10px;
    border: 5px solid #D4ACFB;
    background-color: whitesmoke;
}

#fileSheet{
    text-align: center;
    cursor: pointer;
}