{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <title>Ajex</title>
</head>
<body>
    <h1 id="titleApp">Welcome Ajex!</h1>
    <form action="" method="POST" name="formPost" class="formPost" id="formData" enctype="multipart/form-data">
        {% csrf_token %}
        <h3 id="formTitle">Add your excel or csv file in this button below:</h3>
        <label for="inputFile" class="inputFile">
            <input type="file" name="fileSheet" id="fileSheet" accept=".xlsx,.csv">
            <input type="hidden" name="nameSheet" id="nameSheet">        
        </label>
        <p></p>
        <input type="submit" value="Enviar" onclick="validationForms()">
    </form>
    <script src="{% static '/js/script.js' %}"></script>
</body>
</html>