{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <title>Ajex</title>
</head>
<body>
    <h1 id="titleApp">Welcome Ajex!</h1>
    <form action="{% url 'download' %}" method="post" name="formPost" class="formPost" id="formCss" enctype="application/x-www-form-urlencoded">
        {% csrf_token %}
        <h3 id="formTitle">Add your excel or csv file in this button below:</h3>
        
        <label for="inputFile" class="inputFile">
            <input type="file" name="fileSheet" id="fileSheet" accept=".xlsx,.csv">
        </label>
        <label for="optionSelect">
            <input type="radio" name="optionSelect" id="" value=".csv">csv 
            <input type="radio" name="optionSelect" id="" value=".xlsx">excel
        </label>
        <p></p>
        <input type="submit" value="Enviar">
    </form>
    <script src="{% static '/js/script.js' %}"></script>
</body>
</html>